.env
*.db
nexora
server
server.log
*.exe
.DS_Store
air-test-chroot.log
air-test.log
nexora-server
server-bin
tmp/
bin/
node_modules/
package-lock.json
public/
# Local Pi runtime state
.atl/

# User uploaded files
/static/uploads/*/*
!/static/uploads/*/.gitkeep
